body{
    background-size: cover;
}

.heading{
    font-size: 22px;
    width: 100%;
    margin: 0px;

}
#start,#status,#number_of_objects{

    font-size: 18px;
}

.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: grey;
    color: white;
    line-height: 3;
}

canvas{
    border:2px solid white;
    border-radius: 10px;;
    box-shadow:5px 5px 5px white;
    margin-top:100px;
}